[submodule "genomics-status"]
	path = python_sources/genomics-status
	url = https://github.com/SciLifeLab/genomics-status.git
[submodule "python_sources/TACA"]
	path = python_sources/TACA
	url = https://github.com/SciLifeLab/TACA.git
[submodule "python_sources/taca-ngi-pipeline"]
	path = python_sources/taca-ngi-pipeline
	url = https://github.com/SciLifeLab/taca-ngi-pipeline.git
[submodule "python_sources/scilifelab_epps"]
	path = python_sources/scilifelab_epps
	url = https://github.com/SciLifeLab/scilifelab_epps.git
